{%extends 'base.html'%}
{% block body %}
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        
        <div class="about" style="background-image: url('https://aarvyhealthcare.com/assets/img/background.jpg');height: 300px;" >
            <br>
            <br>
            <br>
            <center><h3 style="color: rgb(91, 134, 225);">ABOUT US</h3></center>
            <br>
            <br>
            <br>
            <center>
            <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px;"> Medical Management <br> is the shared strategic vision of Northwestern Memorial HealthCare <br> and Northwestern University Feinberg School of Medicine<br> to transform the future of health care.</p>
            </center>
        </div>
        <br>














        </body>
        </html>
{% endblock body %}