{%extends 'base.html'%}
{% block body %}
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body style="background-color: aliceblue;">
        <center><h3 style="color: rgb(230, 226, 226);"> ENTER USER CREDENTIALS <i class="fa-regular fa-face-smile fa-flip fa-lg" style="color: #050505;"></i></h3></center>
        <br>
        <br>
<form method="post">
    {% csrf_token %}
    <center>
      <div class="contact" style="justify-content: center; background-color: darkturquoise; width: 600px; border: 2px; border-radius: 20px;" >
    <div class="mb-3">
      <label for="contactname" class="form-label" style="color: white;"> Contact Name :</label>
      <input type="text" class="form-control" id="contactname" name="ContactName" style="width: 300px;" >
    </div>
    <br>
    <div class="mb-3">
      <label for="phoneno" class="form-label" style="color: white;">Phone Number :</label>
      <input type="text" class="form-control" id="phoneno" name="PhoneNumber"  style="width: 300px;">
    </div>
    <br>
    <div class="mb-3">
        <label for="email" class="form-label" style="color: white;">E-Mail :</label>
        <input type="email" class="form-control" id="email" name="Email"  style="width: 300px;">
    </div>
    <br>
    <div class="mb-3">
        <label for="address" class="form-label" style="color: white;">Address :</label>
        <input type="text" class="form-control" id="address" name="Address"  style="width: 300px;">
    </div>
    <br>
    
    <button type="submit" class="btn btn-primary" style="color: white;">Submit</button>

  </form>
</center>
</div>
</body>
</html>
{% endblock body %}