{%extends 'base.html'%}
{% block body %}
<center>
        <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Username :</label>
      <input type="text" class="form-control" id="username" name="Username" style="width: 300px;">
    </div>
    <br>
    <div class="mb-3">
      <label for="password" class="form-label">Password :</label>
      <input type="password" class="form-control" id="password" name="Password" style="width: 300px;">
    </div>
    <br>
 
  
   <button type="submit">Login</button>

  </form>
  <a href="#">Forgot password? click here</a>
</center>
</div>
</body>
</html>
{% endblock body %}