{%extends 'userbase.html'%}

{% block body %}

<center>
  <h3>Welcome User<i class="fa-solid fa-user fa-flip"></i> </h3>
  
</center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
      <div class="col"><div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-vector/doctor-character-background_1270-84.jpg?w=2000 " style="height: 200px; width: 289px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Our Doctors</h5>
          <p class="card-text">Glance Through Our Doctors List</p>
          <a href="#" class="btn btn-primary">Proceed</a>
        </div>
      </div></div>
      <div class="col"><div class="card" style="width: 18rem;">
        <img src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjExMjYtaC0wMDA4LXhfMS5qcGc.jpg?s=ylXiCWSwjdN4JjEqMMzwynHTpSAHAc1frcaiZrQ1v30" style="height: 200px; width: 289px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Buy Medicine</h5>
          <p class="card-text">Click Here To Buy The Preferred Medicine</p>
          <a href="meds" class="btn btn-primary">Proceed</a>
        </div>
      </div></div>
      <div class="col"><div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/premium-vector/calendar-icon-white_24911-23381.jpg" style="height: 200px; width: 289px;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Appointments</h5>
          <p class="card-text">Click here to apply / Check for appointments made</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div></div>
     
  
  </div>
  <br>
  <div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    
  
  </div>


  {% endblock body %}